.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  background-size: cover;
  background-position: center center;
  display: block;
  -webkit-box-shadow: 0 2px 22px 0 rgb(0 0 0 / 10%),
    0 4px 20px 0 rgb(0 0 0 / 15%);
  box-shadow: 0 5px 13px 8px rgb(0 0 0 / 10%), 0 4px 20px 0 rgb(0 0 0 / 15%);
  margin-top: 0px;
  margin-left: 0px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  overflow-x: hidden;
}

.sidebar .sidebar-wrapper {
  padding-top: 20px;
  width: 100%;
  padding-left: 6px;
  padding-right: 6px;
  z-index: 4;
  position: relative;
  overflow: auto;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  overflow-x: hidden;
}

.sidebar .logo {
  margin: auto;
  padding: 10px;
  display: inline-block;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  height: auto;
}

.sidebar .logo img {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  align-content: center;
  z-index: 4;
  padding: 5px;
  width: 100%;
  max-width: 200px;
  height: auto;
}

.sidebar .logo-mini {
  float: left;
  width: 30%;
  text-align: center;
  margin: 0px 2px 0px 2px;
  position: relative;
  top: -5px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  overflow-x: hidden;
}

.sidebar .logo a,
.off-canvas-sidebar .logo a {
  max-width: 100%;
  max-height: auto;
  align-content: center;
}

.sidebar .bold-text {
  text-transform: uppercase;
  display: block;
  text-align: center;
  align-content: center;
  color: rgb(235, 208, 0);
  text-decoration: none;
  font-weight: 800;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  overflow-x: hidden;
}

.sidebar .simple-text {
  font-family: sans-serif;
  text-transform: capitalize;
  font-size: small;
  text-align: center;
  display: block;
  color: rgb(235, 208, 0);
  text-decoration: none;
  font-weight: 400;
  text-shadow: black;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  overflow-x: hidden;
}

.sidebar .simple-text:hover, .sidebar .bold-text:hover {
  color: #ffe207;
}

.sidebar .nav {
  margin-top: 0px;
  display: block;
}

.sidebar .sidebar-row {
  display: inline-flex;
}

.router-link-exact-active {
  font-weight: 550;
  color: rgb(255, 255, 255);
  background-color: #a5a5a5;
}

.sidebar .router-link-exact-active p {
	color: rgb(26, 26, 26) !important;
  font-weight: 800;
}

.sidebar li> .router-link-exact-active:hover {
	color: rgb(26, 26, 26) !important;
  font-weight: 800 !important;
  background-color: #a5a5a5 !important;
  letter-spacing: normal !important;
  font-size: 0.62475rem !important;
  transition: none !important;
}

.sidebar .li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-bottom: 0px;
  padding: 0 0;
}

.sidebar .nav li > a {
  /*   margin: 10px 15px 0; */
  border-radius: 7px;
  padding: 8px 10px 2px 10px;
  color: #e4e4e4;
  font-weight: 700;
  display: block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.62475rem;
}

.sidebar .nav p {
  margin: 4% 0px 4% 10%;
  /*   line-height: 30px; */
  position: relative;
  color: #ffffff;
  display: inline-block;
  height: auto;
  white-space: nowrap;
}

.sidebar .nav svg {
  margin-left: 10px;
  align-content: center;
  /*   line-height: 30px; */
  position: relative;
  display: inline-block;
  font-size: 18px;
  height: auto;
  white-space: nowrap;
  color: #fff;
}

/* Section Coloring */
.sidebar[data="light"] {
  background: #212529;
/*   background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#33c2d5),
    to(#f5f5f5)
  ); */
}
.sidebar[data="dark"] {
  background: linear-gradient(0deg, #000000 0%, #212529 100%);
}
.sidebar[data="light"] .nav li > a {
  color: #000000;
}
.sidebar[data="dark"] .nav li > a {
  color: #ffffff;
}

.sidebar[sidebar-item-color="green"] .nav li > a {
  color: #000000;
  background-color: green;
}

.sidebar[sidebar-item-color="purple"] .nav li > a {
  color: #000000;
  background-color: Purple;
}

.sidebar[sidebar-item-color="blue"] .nav li > a {
  color: #000000;
  background-color: cyan;
}

.sidebar[sidebar-item-color="orange"] .nav li > a {
  color: #000000;
  background-color: orange;
}
.sidebar[sidebar-item-color="red"] .nav li > a {
  color: #000000;
  background-color: rgb(172, 35, 35);
}

.sidebar[sidebar-item-color="ananas"] .nav li > a {
  color: #000000;
  background-color: #f9d00f;
}

/* Section hover & transitions */
.sidebar .nav a:hover,
.sidebar .router-link {
  letter-spacing: 1px;
  font-size: 0.7rem;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.sidebar[data-color="green"] .nav a:hover,
.sidebar .router-link,
.off-canvas-sidebar .nav li:hover,
.off-canvas-sidebar .nav p:hover,
.off-canvas-sidebar .nav i:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 167, 56);
}
/* side bar hover */
.sidebar[data-color="purple"] .nav a:hover,
.sidebar .router-link,
.off-canvas-sidebar .nav li:hover,
.off-canvas-sidebar .nav p:hover,
.off-canvas-sidebar .nav i:hover {
  color: rgb(255, 255, 255);
  background-color: purple;
}
.sidebar[data-color="red"] .nav a:hover,
.sidebar .router-link,
.off-canvas-sidebar .nav li:hover,
.off-canvas-sidebar .nav p:hover,
.off-canvas-sidebar .nav i:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(172, 35, 35);
}
.sidebar[data-color="ananas"] .nav a:hover,
.sidebar .router-link {
  background-color: #5a5a5a70;
}
.sidebar[data-color="blue"] .nav a:hover,
.sidebar .router-link,
.off-canvas-sidebar .nav li:hover,
.off-canvas-sidebar .nav p:hover,
.off-canvas-sidebar .nav i:hover {
  color: rgb(255, 255, 255);
  background-color: cyan;
}
.sidebar[data-color="orange"] .nav a:hover,
.sidebar .router-link,
.off-canvas-sidebar .nav li:hover,
.off-canvas-sidebar .nav p:hover,
.off-canvas-sidebar .nav i:hover {
  color: rgb(255, 255, 255);
  background-color: orange;
}

.sidebar .footer,
.off-canvas-sidebar .footer{
  position: absolute;
  bottom: 0;
  margin: auto;
  padding: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  height: auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  color: #ffc107;
  width: 100%;
  z-index: 4;
  overflow: auto;
  transition: width 0.5s;
  overflow-x: hidden;
}

.sidebar .footer:hover,
.off-canvas-sidebar .footer:hover {
  letter-spacing: 1px;
  font-size: 1.1rem;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

/* Section responsive Other resoltuion and devices */

@media (max-width: 991px) {
	.sidebar,
	.sidebar-wrapper {
		-webkit-transition-property: top, bottom, width;
		transition-property: top, bottom, width;
		-webkit-transition-duration: 0.2s, 0.2s, 0.35s;
		transition-duration: 0.2s, 0.2s, 0.35s;
		-webkit-transition-timing-function: linear, linear, ease;
		transition-timing-function: linear, linear, ease;
		-webkit-overflow-scrolling: touch;
	}
	.sidebar {
		position: fixed;
		overflow-y: auto;
		overflow-x: hidden;
		width: 3rem;
		/*     bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 10;
    border: 0; */
		background: #fff;
		border-top: 1px solid #bdbdbd;
	}
	/*   .sidebar .nav i,
  .sidebar .nav a,
  .sidebar .nav p {
    padding-left: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  } */
	.sidebar .nav svg {
		padding-left: 0px !important;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
  .sidebar:hover {
		width: 200px;
	}
  .sidebar:hover .sidebar-wrapper {
    width: 200px;
  }
  
/* 	.sidebar .logo {
		max-width: fit-content;
		display: block;
		width: 100%;
	} */
/* 	.sidebar .simple-text,
	.sidebar .bold-text {
		display: none;
	} */
/* 	.sidebar .sidebar .logo a.logo-normal {
		opacity: 0;
	} */
/* 	.sidebar .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
	.sidebar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
	.sidebar .sidebar-wrapper .user .info>a>span,
	.sidebar .sidebar-wrapper>.nav li>a p {
		opacity: 0;
	}
  .sidebar:hover .sidebar-wrapper>.nav li>a p,
  .sidebar:hover .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
  .sidebar:hover .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
  .sidebar:hover .sidebar-wrapper .user .info>a>span {
    opacity: 1;
  } */
.sidebar .bold-text, .sidebar .simple-text {
  display: none;
}
.sidebar:hover .bold-text, .sidebar:hover .simple-text {
  display: block;
  overflow-x: initial;
  font-size: smaller;
  white-space: nowrap;
}

.sidebar .logo img {
  width: -webkit-fill-available;
  max-width: 6rem;
  max-height: 6rem;
  padding: 0;
}

.sidebar .nav p {
  opacity: 0;
}
.sidebar:hover .nav p {
  opacity: 1;
}

/* 	.sidebar .nav div>ul>li>a>svg .sidebar-icon {
		opacity: 1;
		margin-left: 0px;
		padding-left: 0px;
	} */

/* 	.sidebar:hover .logo a {
		opacity: 1;
	} */
/* 	.sidebar:hover .navbar-minimize {
		opacity: 1;
	} */
/* 	.sidebar:hover .nav [data-toggle="collapse"]~div>ul>li>a .sidebar-icon {
		opacity: 10;
	}
	.navbar-minimize button {
		margin-left: 10px;
	}
	.navbar-minimize button i {
		color: white;
		font-size: 20px;
	} */
}
@media screen and (max-width: 1280px) {
}

/* 
.sidebar-wrapper ul li div.collapse ul li div.collapse ul li a,
.sidebar-wrapper ul li div.collapse ul li div.collapsing ul li a,
.sidebar-wrapper ul li div.collapsing ul li div.collapse ul li a {
	margin-left: 25px;
  padding-left: 15px;
}



.sidebar .sidebar-wrapper .dropdown .dropdown-backdrop,
.off-canvas-sidebar .sidebar-wrapper .dropdown .dropdown-backdrop {
	display: none !important;
}

.sidebar .sidebar-wrapper .navbar-form,
.off-canvas-sidebar .sidebar-wrapper .navbar-form {
	border: none;
}

.sidebar .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a span,
.off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a span,
.sidebar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a span,
.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a span {
	display: inline-block;
}

.sidebar .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
.off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
.sidebar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-normal {
	margin: 0;
	position: relative;
	transform: translateX(0px);
	opacity: 1;
	white-space: nowrap;
	display: block;
	line-height: 23px;
	z-index: 1;
	color: orange;
}

.sidebar .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a .sidebar-mini-icon,
.off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a .sidebar-mini-icon,
.sidebar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-mini-icon,
.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-mini-icon {
	text-transform: uppercase;
	width: 34px;
	margin-right: 10px;
	margin-left: 0px;
	font-size: 12px;
	text-align: center;
	line-height: 25px;
	position: relative;
	float: left;
	z-index: 1;
	display: inherit;
	line-height: 24px;
	color: orange;
}

.sidebar .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a i,
.off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a i,
.sidebar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a i,
.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a i {
	font-size: 17px;
	line-height: 20px;
	width: 26px;
}

.sidebar .sidebar-wrapper [data-toggle="collapse"]~div>ul>li:hover>a .sidebar-mini-icon,
.off-canvas-sidebar .sidebar-wrapper [data-toggle="collapse"]~div>ul>li:hover>a .sidebar-mini-icon,
.sidebar .sidebar-wrapper [data-toggle="collapse"]~div>ul>li:hover>a .sidebar-normal,
.off-canvas-sidebar .sidebar-wrapper [data-toggle="collapse"]~div>ul>li:hover>a .sidebar-normal {
	color: white;
}

.sidebar .sidebar-wrapper .nav [data-toggle="collapse"]~div>ul>li>a .sidebar-mini-icon,
.off-canvas-sidebar .sidebar-wrapper .nav [data-toggle="collapse"]~div>ul>li>a .sidebar-mini-icon {
	opacity: 0;
}

.sidebar .navbar-minimize,
.off-canvas-sidebar .navbar-minimize {
	position: absolute;
	right: 20px;
	top: 2px;
	opacity: 1;
}

.sidebar .logo-tim,
.off-canvas-sidebar .logo-tim {
	border-radius: 50%;
	border: 1px solid #333;
	display: block;
	height: 61px;
	width: 61px;
	float: left;
	overflow: hidden;
}

.sidebar .logo-tim img,
.off-canvas-sidebar .logo-tim img {
	width: 60px;
	height: 60px;
}

.sidebar .nav,
.off-canvas-sidebar .nav {
	margin-top: 20px;
	display: block;
}

.sidebar .nav .caret,
.off-canvas-sidebar .nav .caret {
	top: 14px;
	position: absolute;
	right: 10px;
}

.sidebar .nav li,
.off-canvas-sidebar .nav li {
color: chartreuse;
}

.sidebar .nav li>a+div .nav,
.off-canvas-sidebar .nav li>a+div .nav {
	margin-top: 5px;
}

.sidebar .nav li>a+div .nav li>a,
.off-canvas-sidebar .nav li>a+div .nav li>a {
	margin-top: 0px;
	padding: 8px 8px;
}

.sidebar .nav li>a,
.off-canvas-sidebar .nav li>a {
	margin: 10px 15px 0;
	border-radius: 50%;
	color: white;
	display: block;
	text-decoration: none;
	position: relative;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 12px;
	padding: 10px 8px;
	line-height: 5px;
}

.sidebar .nav li:first-child>a,
.off-canvas-sidebar .nav li:first-child>a {
	margin: 0 15px;
}

.sidebar .nav li:hover:not(.active)>a p,
.off-canvas-sidebar .nav li:hover:not(.active)>a p,
.sidebar .nav li:focus:not(.active)>a p,
.off-canvas-sidebar .nav li:focus:not(.active)>a p,
.sidebar .nav li:hover:not(.active)>a i,
.off-canvas-sidebar .nav li:hover:not(.active)>a i,
.sidebar .nav li:focus:not(.active)>a i,
.off-canvas-sidebar .nav li:focus:not(.active)>a i {
	color: white;
}

.sidebar .nav li:hover:not(.active)>a i,
.off-canvas-sidebar .nav li:hover:not(.active)>a i,
.sidebar .nav li:focus:not(.active)>a i,
.off-canvas-sidebar .nav li:focus:not(.active)>a i {
	color: white;
}

.sidebar .nav li.active>a:not([data-toggle="collapse"]),
.off-canvas-sidebar .nav li.active>a:not([data-toggle="collapse"]) {
	background: transparent;
}

.sidebar .nav li.active>a:not([data-toggle="collapse"]) i,
.off-canvas-sidebar .nav li.active>a:not([data-toggle="collapse"]) i,
.sidebar .nav li.active>a:not([data-toggle="collapse"]) p,
.off-canvas-sidebar .nav li.active>a:not([data-toggle="collapse"]) p {
	color: #eecb31;
}

.sidebar .nav li.active>a:not([data-toggle="collapse"]):before,
.off-canvas-sidebar .nav li.active>a:not([data-toggle="collapse"]):before {
	content: " ";
	position: absolute;
	height: 6px;
	width: 6px;
	top: 22px;
	left: -4px;
	background: yellow;
	border-radius: 50%;
}

.sidebar .nav li.active>a[data-toggle="collapse"],
.off-canvas-sidebar .nav li.active>a[data-toggle="collapse"] {
	background: transparent;
	box-shadow: none;
	color: white;
}

.sidebar .nav li.active>a[data-toggle="collapse"] i,
.off-canvas-sidebar .nav li.active>a[data-toggle="collapse"] i {
	color: white;
}

.sidebar .nav li.active>a[data-toggle="collapse"]+div .nav .active a,
.off-canvas-sidebar .nav li.active>a[data-toggle="collapse"]+div .nav .active a {
	box-shadow: none;
}

.sidebar .nav li.active>a[data-toggle="collapse"]+div .nav .active a .sidebar-mini-icon,
.off-canvas-sidebar .nav li.active>a[data-toggle="collapse"]+div .nav .active a .sidebar-mini-icon,
.sidebar .nav li.active>a[data-toggle="collapse"]+div .nav .active a .sidebar-normal,
.off-canvas-sidebar .nav li.active>a[data-toggle="collapse"]+div .nav .active a .sidebar-normal {
	color: white;
	font-weight: 400;
}

.sidebar .nav li.active>a[data-toggle="collapse"]+div .nav .active a:before,
.off-canvas-sidebar .nav li.active>a[data-toggle="collapse"]+div .nav .active a:before {
	content: " ";
	position: absolute;
	height: 6px;
	width: 6px;
	top: 17px;
	left: -4px;
	background: white;
	border-radius: 50%;
}

.sidebar .nav li.active>a[data-toggle="collapse"]:before,
.off-canvas-sidebar .nav li.active>a[data-toggle="collapse"]:before {
	content: " ";
	position: absolute;
	height: 6px;
	width: 6px;
	top: 22px;
	left: -4px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
}

.sidebar .nav p,
.off-canvas-sidebar .nav p {
	margin: 0;
	line-height: 30px;
	position: relative;
	display: block;
	height: auto;
	white-space: nowrap;
}

.sidebar .nav i,
.off-canvas-sidebar .nav i {
	font-size: 20px;
	float: left;
	margin-right: 12px;
	line-height: 30px;
	width: 34px;
	text-align: center;
	color: orange;
	position: relative;
}



.sidebar .logo a.logo-normal,
.off-canvas-sidebar .logo a.logo-normal {
	display: block;
	opacity: 1;
}

.sidebar .logo:after,
.off-canvas-sidebar .logo:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 15px;
	height: 1px;
	width: calc(100% - 30px);
	background: greenyellow;
}

.sidebar .logo p,
.off-canvas-sidebar .logo p {
	float: left;
	font-size: 20px;
	margin: 10px 10px;
	color: white;
	line-height: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.sidebar .logo-tim,
.off-canvas-sidebar .logo-tim {
	border-radius: 50%;
	border: 1px solid #333;
	display: block;
	height: 61px;
	width: 61px;
	float: left;
	overflow: hidden;
}

.sidebar .logo-tim img,
.off-canvas-sidebar .logo-tim img {
	width: 60px;
	height: 60px;
}

.sidebar .user,
.off-canvas-sidebar .user {
	padding-bottom: 20px;
	margin: 20px auto 0;
	position: relative;
}

.sidebar .user:after,
.off-canvas-sidebar .user:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 15px;
	height: 1px;
	width: calc(100% - 30px);
	background: greenyellow;
}

.sidebar .user .photo,
.off-canvas-sidebar .user .photo {
	width: 34px;
	height: 34px;
	overflow: hidden;
	float: left;
	z-index: 5;
	margin-right: 10px;
	border-radius: 50%;
	margin-left: 23px;
	box-shadow: indigo;
}

.sidebar .user .photo img,
.off-canvas-sidebar .user .photo img {
	width: 100%;
}

.sidebar .user a,
.off-canvas-sidebar .user a {
	color: white;
	text-decoration: none;
	padding: 15px;
	white-space: nowrap;
}

.sidebar .user .info>a,
.off-canvas-sidebar .user .info>a {
	display: block;
	line-height: 18px;
}

.sidebar .user .info>a>span,
.off-canvas-sidebar .user .info>a>span {
	display: block;
	position: relative;
	opacity: 1;
}

.sidebar .user .info .caret,
.off-canvas-sidebar .user .info .caret {
	position: absolute;
	top: 8px;
	right: 18px;
}
.off-canvas-sidebar .nav>li>a,
.off-canvas-sidebar .nav>li>a:hover {
	color: white;
}

.off-canvas-sidebar .nav>li>a:focus {
	background: rgba(200, 200, 200, 0.2);
} */
/* .wrapper:after {
  display: table;
  clear: both;
  content: " ";
}
.md-list-item .md-list-item-container .md-ripple {
  padding: 10px 15px;
  border-radius: 3px;
}
.md-list-item .md-list-item-container .md-ripple > span {
  border-radius: 3px;
}
.wrapper .sidebar,
.wrapper .off-canvas-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-position: center center;
}
.wrapper .sidebar .md-icon.md-theme-default.md-icon-font,
.wrapper .off-canvas-sidebar .md-icon.md-theme-default.md-icon-font,
.wrapper .sidebar .material-icons,
.wrapper .off-canvas-sidebar .material-icons {
  color: #fff !important;
  opacity: 0.8;
}
.wrapper .sidebar .md-list,
.wrapper .off-canvas-sidebar .md-list {
  background-color: transparent !important;
}
.wrapper .sidebar .md-list.nav,
.wrapper .off-canvas-sidebar .md-list.nav {
  position: initial;
}
.wrapper .sidebar .md-list .md-list-item a,
.wrapper .off-canvas-sidebar .md-list .md-list-item a {
  text-transform: capitalize;
}
.wrapper .sidebar .md-list .md-list-item-content,
.wrapper .off-canvas-sidebar .md-list .md-list-item-content {
  justify-content: flex-start;
  min-height: auto;
}
.wrapper .sidebar .md-list .md-list-item-container:hover,
.wrapper .off-canvas-sidebar .md-list .md-list-item-container:hover {
  background-color: rgba(200, 200, 200, 0.2) !important;
}
.wrapper .sidebar .md-ripple span .md-ripple-wave,
.wrapper .off-canvas-sidebar .md-ripple span .md-ripple-wave {
  background-color: rgba(200, 200, 200, 0.4) !important;
}
.wrapper .sidebar .sidebar-wrapper,
.wrapper .off-canvas-sidebar .sidebar-wrapper {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  width: 260px;
  z-index: 4;
}
.wrapper .sidebar .sidebar-wrapper .dropdown .dropdown-backdrop,
.wrapper .off-canvas-sidebar .sidebar-wrapper .dropdown .dropdown-backdrop {
  display: none !important;
}
.wrapper .sidebar .sidebar-wrapper .navbar-form,
.wrapper .off-canvas-sidebar .sidebar-wrapper .navbar-form {
  border: none;
}
.wrapper .sidebar .sidebar-wrapper .nav,
.wrapper .off-canvas-sidebar .sidebar-wrapper .nav {
  padding: 0;
}
.wrapper
  .sidebar
  .sidebar-wrapper
  .nav
  [data-toggle="collapse"]
  ~ div
  > ul
  > li
  > a,
.wrapper
  .off-canvas-sidebar
  .sidebar-wrapper
  .nav
  [data-toggle="collapse"]
  ~ div
  > ul
  > li
  > a {
  padding-left: 60px;
}
.wrapper .sidebar .sidebar-wrapper .nav .caret,
.wrapper .off-canvas-sidebar .sidebar-wrapper .nav .caret {
  margin-top: 13px;
  position: absolute;
  right: 18px;
}
.wrapper .sidebar .logo-tim,
.wrapper .off-canvas-sidebar .logo-tim {
  border-radius: 50%;
  border: 1px solid #333;
  display: block;
  height: 61px;
  width: 61px;
  float: left;
  overflow: hidden;
}
.wrapper .sidebar .logo-tim img,
.wrapper .off-canvas-sidebar .logo-tim img {
  width: 60px;
  height: 60px;
}
.wrapper .sidebar .nav,
.wrapper .off-canvas-sidebar .nav {
  margin-top: 20px;
}
.wrapper .sidebar .nav.nav-mobile-menu li a,
.wrapper .off-canvas-sidebar .nav.nav-mobile-menu li a {
  padding: 10px 15px;
}
.wrapper .sidebar .nav li a,
.wrapper .off-canvas-sidebar .nav li a {
  display: flex;
  text-decoration: none;
  margin: 10px 15px 0;
  border-radius: 3px;
  color: white !important;
  white-space: nowrap;
  cursor: pointer;
  width: auto;
}
.wrapper .sidebar .nav li:first-child > a,
.wrapper .off-canvas-sidebar .nav li:first-child > a {
  margin: 0 15px;
}
.wrapper .sidebar .nav li:hover > a,
.wrapper .off-canvas-sidebar .nav li:hover > a,
.wrapper .sidebar .nav li .dropdown:hover > a,
.wrapper .off-canvas-sidebar .nav li .dropdown:hover > a {
  background: rgba(200, 200, 200, 0.2);
  color: black;
}
.wrapper .sidebar .nav li .active,
.wrapper .off-canvas-sidebar .nav li .active {
  color: #fff !important;
}
.wrapper .sidebar .nav li .active .md-ripple i,
.wrapper .off-canvas-sidebar .nav li .active .md-ripple i {
  opacity: 1;
}
.wrapper .sidebar .nav .router-link-active p,
.wrapper .off-canvas-sidebar .nav .router-link-active p {
  color: white;
}
.wrapper .sidebar .nav p,
.wrapper .off-canvas-sidebar .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 14px;
  position: relative;
  display: block;
  height: auto;
  font-weight: 300;
  white-space: nowrap;
}
.wrapper .sidebar .nav i,
.wrapper .off-canvas-sidebar .nav i {
  font-size: 24px !important;
  float: left;
  margin-right: 15px !important;
  margin-left: 0;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #a9afbb;
}
.wrapper .sidebar .logo,
.wrapper .off-canvas-sidebar .logo {
  position: relative;
  padding: 15px 0;
  z-index: 4;
}
.wrapper .sidebar .logo:after,
.wrapper .off-canvas-sidebar .logo:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: rgba(180, 180, 180, 0.3);
}
.wrapper .sidebar .logo p,
.wrapper .off-canvas-sidebar .logo p {
  float: left;
  font-size: 20px;
  margin: 10px 10px;
  color: white;
  line-height: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper .sidebar .logo .logo-mini,
.wrapper .off-canvas-sidebar .logo .logo-mini {
  float: left;
  width: 40px;
  text-align: center;
  margin-left: 25px;
  margin-right: 11px;
  position: relative;
  top: -5px;
}
.wrapper .sidebar .logo .simple-text,
.wrapper .off-canvas-sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}
.wrapper .sidebar .logo .simple-text,
.wrapper .off-canvas-sidebar .logo .simple-text,
.wrapper .sidebar .logo .simple-text:hover,
.wrapper .off-canvas-sidebar .logo .simple-text:hover,
.wrapper .sidebar .logo .simple-text:focus,
.wrapper .off-canvas-sidebar .logo .simple-text:focus {
  color: white !important;
}
.wrapper .sidebar .logo .simple-text .logo-img,
.wrapper .off-canvas-sidebar .logo .simple-text .logo-img {
  width: 40px;
  display: inline-block;
  height: 40px;
  background: white;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
}
.wrapper .sidebar .logo .simple-text .logo-img img,
.wrapper .off-canvas-sidebar .logo .simple-text .logo-img img {
  width: 55%;
  vertical-align: -webkit-baseline-middle;
}
.wrapper .sidebar .logo-tim,
.wrapper .off-canvas-sidebar .logo-tim {
  border-radius: 50%;
  border: 1px solid #333;
  display: block;
  height: 61px;
  width: 61px;
  float: left;
  overflow: hidden;
}
.wrapper .sidebar .logo-tim img,
.wrapper .off-canvas-sidebar .logo-tim img {
  width: 60px;
  height: 60px;
}
.wrapper .sidebar:after,
.wrapper .off-canvas-sidebar:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.87);
  opacity: 0.85;
  top: 0;
  left: 0;
  z-index: 2;
}
.wrapper .sidebar[data-color="blue"] .nav .md-list-item-container.active,
.wrapper
  .off-canvas-sidebar[data-color="blue"]
  .nav
  .md-list-item-container.active {
  background-color: blue !important;
  box-shadow: 0 12px 20px -10px rgba(0, 0, 255, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 0, 255, 0.2);
}
.wrapper .sidebar[data-color="green"] .nav .md-list-item-container.active,
.wrapper
  .off-canvas-sidebar[data-color="green"]
  .nav
  .md-list-item-container.active {
  background-color: green !important;
  box-shadow: 0 12px 20px -10px rgba(0, 128, 0, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 128, 0, 0.2);
}
.wrapper .sidebar[data-color="orange"] .nav .md-list-item-container.active,
.wrapper
  .off-canvas-sidebar[data-color="orange"]
  .nav
  .md-list-item-container.active {
  background-color: orange !important;
  box-shadow: 0 12px 20px -10px rgba(255, 165, 0, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 165, 0, 0.2);
}
.wrapper .sidebar[data-color="red"] .nav .md-list-item-container.active,
.wrapper
  .off-canvas-sidebar[data-color="red"]
  .nav
  .md-list-item-container.active {
  background-color: red !important;
  box-shadow: 0 12px 20px -10px rgba(255, 0, 0, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 0, 0, 0.2);
}
.wrapper .sidebar[data-color="purple"] .nav .md-list-item-container.active,
.wrapper
  .off-canvas-sidebar[data-color="purple"]
  .nav
  .md-list-item-container.active {
  background-color: purple !important;
  box-shadow: 0 12px 20px -10px rgba(128, 0, 128, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(128, 0, 128, 0.2);
}
.off-canvas-sidebar .nav > li > a,
.off-canvas-sidebar .nav > li > a:hover {
  color: white;
}
.off-canvas-sidebar .nav > li > a:focus {
  background: rgba(200, 200, 200, 0.2);
}
.perfect-scrollbar-on .sidebar,
.perfect-scrollbar-on .main-panel {
  height: 100%;
  max-height: 100%;
}
.animation-transition-general,
.wrapper .sidebar,
.wrapper .off-canvas-sidebar {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  -webkit-transition: 0.33s;
  -moz-transition: 0.33s;
  -o-transition: 0.33s;
  transition: 0.33s;
}
.main-panel > .content {
  padding: 30px 15px;
  min-height: calc(100vh - 123px);
}
.main-panel > .footer {
  border-top: 1px solid #e7e7e7;
}
.main-panel > .navbar {
  margin-bottom: 0;
}
 */
